:root {
  --yellow-background: #fffdee;
  --red-background: #ffeeee;
  --blue-background: #eef8ff;
  --yellow-gradient: linear-gradient(135deg, #fbe77d 0%, #f9b75b 100%);
  --red-gradient: linear-gradient(135deg, #fcb775 0%, #fa817c 100%);
  --blue-gradient: linear-gradient(135deg, #5ee0f9 0%, #62b8fd 100%);
  --tag-green: #b2e9aa;
  --tag-blue: #b2d9e9;
  --tag-red: #e9aaaa;
  --tag-yellow: #e9e0aa;
  --tag-purple: #d9b2e9;
  --tooltip-size: 30px;

  --breakpoint-tablet: 768px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(./images/profile2.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.backdrop-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
}

.profile-card {
  display: flex;
  position: relative;
  z-index: 100;
  justify-content: center;
  width: min(100%, 760px);
  max-width: 1440px;
  aspect-ratio: 1.4/1;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--blue-background);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.profile-card::before,
.profile-card::after {
  content: '';
  position: absolute;
  left: -67px;
  top: -63px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: var(--blue-gradient);
}

.profile-card::after {
  left: auto;
  right: -67px;
  top: auto;
  bottom: 0;
  z-index: -1;
}

.img-wrapper {
  position: relative;

  width: 100%;
  height: auto;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  /* contain으로 할 지 cover로 할 지 유저가 custom할 수 있게 해야 함 */
  object-fit: cover;
}

.profile-drawer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: fit-content;
  padding: 36px 50px;
  backdrop-filter: blur(27.5px);
  background-color: rgba(var(--blue-background), 0.37);
  border-radius: 20px;
  z-index: 10;
  transition: bottom 500ms ease-in-out;
}

.profile-drawer.open {
  bottom: 0;
  background-color: rgba(var(--blue-background), 0.37);
  backdrop-filter: blur(40.5px);
}

.profile-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-info h1 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.profile-info p,
.profile-info a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #333;
  text-decoration: none;
}

.link-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.profile-links {
  display: flex;
  gap: 12px;
}

.link-item img {
  width: 100%;
  height: 100%;
  /* contain으로 할 건지 cover로 할 건지 선택지 줘야 함 */
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  opacity: 0;
  transition: all 0.26s ease-in-out;
}

.tag-list.open {
  margin-top: 36px;
  opacity: 1;
}

.tag-item {
  overflow: hidden;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 6px;
}

.tag-item.green {
  background-color: var(--tag-green);
}

.tag-item.blue {
  background-color: var(--tag-blue);
}

.tag-item.red {
  background-color: var(--tag-red);
}

.tag-item.yellow {
  background-color: var(--tag-yellow);
}

.tag-item.purple {
  background-color: var(--tag-purple);
}

@media screen and (max-width: 768px) {
  .profile-drawer {
    padding: 24px 18px;
  }

  .profile-card::before,
  .profile-card::after {
    width: 80px;
    height: 80px;
    left: -20px;
    top: -40px;
  }

  .profile-card::after {
    left: auto;
    right: -20px;
    top: auto;
    bottom: 0;
  }

  .link-item {
    width: 28px;
    height: 28px;
  }

  .tag-list {
    max-height: 72px;
    overflow-y: scroll;
  }

  .profile-info a {
    display: none;
  }

  .tag-list.open {
    margin-top: 18px;
  }
}
