:root {
  --yellow-background: #fffdee;
  --red-background: #ffeeee;
  --blue-background: #eef8ff;
  --yellow-gradient: linear-gradient(135deg, #fbe77d 0%, #f9b75b 100%);
  --red-gradient: linear-gradient(135deg, #fcb775 0%, #fa817c 100%);
  --blue-gradient: linear-gradient(135deg, #5ee0f9 0%, #62b8fd 100%);
  --tag-green: #b2e9aa;
  --tag-blue: #b2d9e9;
  --tag-red: #e9aaaa;
  --tag-yellow: #e9e0aa;
  --tag-purple: #d9b2e9;
  --tooltip-size: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  display: flex;
  position: relative;
  justify-content: center;
  width: max(100% - 2em, 360px);
  aspect-ratio: 1.4/1;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--blue-background);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.profile-card::before,
.profile-card::after {
  content: '';
  position: absolute;
  left: -67px;
  top: -63px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: var(--blue-gradient);
}

.profile-card::after {
  left: auto;
  right: -67px;
  top: auto;
  bottom: 0;
}

.profile-drawer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  max-height: 142px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  z-index: 10;
  padding: 36px 50px;
  background-color: rgba(var(--blue-background), 0.37);
  backdrop-filter: blur(27.5px);
  border-radius: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.profile-drawer.on {
  max-height: none;
  transition: all 0.5s ease-in-out;
}

.profile-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-info h1 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.profile-info p,
.profile-info a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #333;
  text-decoration: none;
}

.link-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.profile-links {
  display: flex;
  gap: 12px;
}

.link-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag-item {
  padding: 6px 10px;
  background-color: #fff;
  border-radius: 6px;
}

.tag-item.green {
  background-color: var(--tag-green);
}

.tag-item.blue {
  background-color: var(--tag-blue);
}

.tag-item.red {
  background-color: var(--tag-red);
}

.tag-item.yellow {
  background-color: var(--tag-yellow);
}

.tag-item.purple {
  background-color: var(--tag-purple);
}
